a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover { 
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
a:visted{
  color: blue
}
