body {
  background-color: powderblue;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover { 
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
